<%= form_tag session_path %>
<ul class="form_list">
  <li>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </li>
  <li>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </li>
  <li>
    <%= submit_tag 'Log in' %>
  </li>
</ul>
