<%= form_tag session_path %>
  <div>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= submit_tag 'Log in' %>
  </div>
