<h2><%= @photo.title %></h2>
<%= link_to @photo.user.username, user_path(@photo.user) %>
<%= image_tag @photo.url %>
<% if logged_in? && current_user == @photo.user %>
  <%= link_to 'Edit photo', edit_photo_path %>
  <%= link_to 'Delete photo', "/photos/#{@photo.id}", method: :delete %>
<% end %>
<fieldset><legend>Rate this squirrel</legend>
  <%= form_for [@photo, @photo.ratings.new] do |f| %>
  <% counter = 1 %>
      <% while counter <= 10 %>
        <%= f.label "#{counter}" %>
        <%= f.radio_button :value, counter %>
        <% counter += 1 %>
      <% end %>
        <%= f.submit 'Rate' %>
  <% end %>
  <span id="ratings_box">Average rating: <%= @average %></span>
</fieldset>
