<div id="photo_banner">
    <h2><%= @photo.title %></h2>
    <%= link_to @photo.user.username, user_path(@photo.user), id:"photo_user_link" %>
</div>
<%= image_tag @photo.url %>
<% if logged_in? && current_user == @photo.user %>
  <%= link_to 'Edit photo', edit_photo_path, class: "admin_command" %>
  <%= link_to 'Delete photo', "/photos/#{@photo.id}", method: :delete, class: "admin_command" %>
<% end %>
<fieldset><legend>Rate this squirrel</legend>
  <%= form_for [@photo, @photo.ratings.new] do |f| %>
  <% counter = 1 %>
      <% while counter <= 10 %>
        <%= f.label "#{counter}" %>
        <%= f.radio_button :value, counter %>
        <% counter += 1 %>
      <% end %>
        <%= f.submit 'Rate' %>
  <% end %>
  <span id="ratings_box">Average rating: <%= @average %></span>
</fieldset>
